<html>
<body>
  <h1>Ange epost</h1>
  <form action="/ny-anvandare" method="post">
    <input type="text" id="email" name="email">
    <button type="submit">Lägg till</button>
  </form>
</body>
</html>